p {
	color: blue;
	font-size:14pt;
}

h2 {
	color: red;
	font-size:20pt;
  border-style:dotted;
  border-color:green;
}

.line-separator{

height:1px;

background:#717171;

border-bottom:1px solid #313030;

}



div.image {
  width: 1580px;
  height: 370px;
  background: url("http://www.opendocs.org/images/progLanguages.jpg") no-repeat 0 0;
}​


#p {
	color: red;
}

.button {
  background: none repeat scroll 0 0 #CCCCCC;
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  color: yellow;
  display: block;
  margin: 5px;
  padding: 12px 30px 10px 30px;
  text-align: center;
  width: 100px;
  text-decoration: none;
  font-family: Helvetica;
}

.button:hover {
  background: black;
  color: white;
}