p {
	color: blue;
	font-size:14pt;
}

#red {
	color: red;
	font-size:20pt;
	
}

.line-separator{

height:1px;

background:#717171;

border-bottom:1px solid #313030;

}


#red {
border-style:dotted;
border-color:green;
}


div.image {
   content:url(http://www.opendocs.org/images/progLanguages.jpg);
}​


#p {
	color: red;
}

